.contanier{
  display: flex;
  flex-direction: column;
  min-width: max-content;
}

.title{
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
}

#base_site{
  display: flex;
  justify-content: space-around;
}

#gif_manuntencao{
  height: 25rem;
}

#base_email{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form{
  display: flex;
  flex-direction: column;
}

.textarea{
  display: flex;
  flex-direction: column;
  border: 2px solid #539eda;
  height: 3rem;
  margin-left: -100%;
  resize: none;
  outline: none;
}

.input{
  margin-bottom: 5%;
  height: 3rem;
  margin-left: -100%;
  border: none;
  border-bottom: 2px solid #539eda;
  outline: none;
}

.button{
  border: none;
  height: 2rem;
  margin-left: -100%;
  background-color: #539eda;
  color: white;
}

@media screen and (max-width: 730px){
  #base_site{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .title{
    font-size: 1.5rem;
  }

  #gif_manuntencao{
    height: 15rem;
    width: 15rem;
  }

  .input{
    margin: 3% 0;
    padding: 0;
    width: 100%;
  }

  .button{
    margin: 3% 0;
  }

  .textarea{
    margin: 3% 0;
    padding: 0;
    padding-left: 3%;
  }

}