body{
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.Login{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
}

#base-login{
    display: flex;
    flex-direction: column;
}


#base-input{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.campo-texto{
    height: 5rem;
    width: 150%;
    padding-left: 5%;
    font-size: 25px;
    border: none;
    background: none;
    border-bottom: 2px solid #539ddb;
    outline: none;

}

#confirmar{
    margin-top: 10%;
    height: 5rem;
    width: 156%;
    border-radius: 20px;
    background-color: #539ddb;
    font-size: 30px;
    color: white;
    border: none;
}

#confirmar:hover{
    background-color: #67a9df;
}

#tiulo{
    color: #0f7ad1;
}
.texto1{
    font-size: 50px;
    margin: 0;
    color: #0f7ad1;
}

#figura-animada{
    height: 25rem;
}

#texto-img{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 730px){
   .Login{
    display: block;
    background-image: none;
   }

   .campo-texto{
    height: 3rem;
    width: 65%;
    padding-left: 5%;
    font-size: 18px;
    border-radius: 10px;
    margin-bottom: 5%;
    }

    #confirmar{
        margin-top: 10%;
        height: 3rem;
        width: 70%;
        border-radius: 10px;
        background-color: #539ddb;
        font-size: 25px;
        color: white;
        border: none;
    }

    .texto1{
        display: none;
    }

    #figura-animada{
        display: none;
    }
}
