#base-banner{
    position: relative;
    display: inline-block;
    margin-bottom: 3%;
}

#button{
    display: flex;
    position: absolute;
    top: 85%;
    left: 85%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #4076e9;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 15%;
    height: 6%;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

#banner{
    width: 100%;
}

.base1{
    display: flex;
    justify-content: space-evenly;
}

.texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 12%;
    margin-bottom: 5%;
}

#office{
    margin-left: 10%;
}

#office-mobile{
    display: none;
}

.Titulo{
    font-size: 40px;
}

#objetivo{
    margin-right: 15%;
    margin-bottom: 5%;
}

#objetivo-mobile{
    display: none;
}

.base-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    padding: 1% 0;
    width: 100%;
}

#base-feedback{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
}

#base-input{
    display: flex;
    flex-direction: column;
}

.feedback{
    border: 3px solid #539eda;
    border-radius: 5px;
    background: none;
    width: 100%;
    resize: vertical;
    outline: none;
    margin-bottom: 3%;
    height: 2rem;
    padding-left: 1.5%;
}

#button-feedback{
    border: none;
    color: white;
    height: 2rem;
    width: 103%;
    background-color: #539eda;
    border-radius: 5px;
}

@media screen and (max-width: 730px){
    #button{
        display: none;
    }

    #banner{
        display: none;
    }

    .Home{
        display: flex;
        flex-direction: column;
    }

    .base1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; 
    }

    #office{
        margin-left: 0;
        width: 65%;
    }

    #objetivo{
        display: none;
    }

    #objetivo-mobile{
        display: block;
        width: 65%;
    }

    #office{
        display: none;
    }

    #office-mobile{
        display: block;
        width: 65%;
    }

    #base-feedback{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;padding: 0 10%;
    }    

    .feedback{
        border: 2px solid #539eda;
        border-radius: 5px;
        background: none;
        width: 100%;
        resize: vertical;
        outline: none;
        margin-bottom: 3%;
        height: 2rem;
        padding-left: 1.5%;
        margin-bottom: 5%;
    }
}