.Emprestimos{
    display: flex;
    flex-direction: column;
}

#title{
    text-align: center;
}

.base-site{
    display: flex;
    justify-content: space-around;
}

.base-itens{
    display: flex;
    flex-direction: column;
}

.itens{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30rem;
}

#botao{
    width: 100%;
    background-color: #539ddb;
    color: white;
    border: none;
    height: 2rem;
    font-size: 1rem;
    font-weight: bold;
}

.acrescimo{
    border: none;
    background: none;
    cursor: pointer;
}

.nome{
    font-weight: bold;
}