.Agendamento{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#title{
    font-size: 2rem;
}

.base-site{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.selecao-anfiteatro{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

#Calendario{
    border: 3px solid #539eda;
    color: #539eda;
    border-radius: 5px;
    height: 3rem;
    width: 75%;
    font-size: 1.5rem;
    outline: none;
    transition: 0.4s;
    cursor: pointer;
    padding: 0 1%;
}

#Calendario:hover{
    background: #539eda;
    color: white;
    
}

#Bloco{
    border: 3px solid #539eda;
    color: #539eda;
    border-radius: 5px;
    height: 3.41rem;
    width: 30%;
    font-size: 1.5rem;
    outline: none;
    transition: 0.4s;
    cursor: pointer;
    padding: 0 1%;
    margin-left: 3%;
    
}

#Bloco:hover{
    background: #539eda;
    color: white;
    
}


.baseEquipamentos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Seleção{
    display: flex;
    align-items: center;
    text-align: start;
}


.a{
    height: 2rem;
    margin-bottom: 1rem;
    width: 25rem;
    border: none;
    border-bottom: 2px solid #539eda;
    outline: none;
}

#Enviar{
    margin-top: 5%;
    height: 2rem;
    width: 25rem;
    background-color: #539eda;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#Enviar:hover{
    color: white;
    background-color: #63a4da;
}

#gif{
    margin-right: 10rem;
}

@media screen and (max-width: 730px){
    #title{
        font-size: 1.5rem;
    }

    .Agendamento{
        justify-content: center;
    }

    .base-site{
        display: flex;
        flex-direction: column;
    }

    #gif{
        display: flex;
        height: 15rem;
        width: 15rem;
        margin-bottom: 5%;
        margin: 0;
    }

    .a{
        width: 83%;
    }

    #Calendario{
        width: 45%;
        font-size: 18px;
    }

    #Bloco{
        font-size: 18px;
        width: 32%;
    }

    #Enviar{
        width: 85%;
    }
}